<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <?define ComponentRules="OneToOne"?>
  <?define SourceDir="..\Deploy"?>
  <Package Name="loxrot" Language="1033" Version="$(var.MSIProductVersion)" Manufacturer="Thomas Kuhn" UpgradeCode="f87cd60a-9532-4cc4-8cd2-80473ab8011a" Scope="perMachine" ShortNames="no" Compressed="yes">
    <SummaryInformation />
    <MediaTemplate EmbedCab="yes" />
    <EnsureTable Id="rg" />
    <EnsureTable Id="Files" />
    <Feature Id="loxrot" Title="loxrot" Description="Installs all the files needed for lxorot" Level="1" AllowAdvertise="no" ConfigurableDirectory="INSTALLLOCATION">
      <ComponentGroupRef Id="Product" />
    </Feature>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallValidate" MigrateFeatures="no" />
    <Icon Id="Icon.ico" SourceFile="Resources\Icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="Icon.ico" Admin="yes"></Property>
    <ui:WixUI Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="CompanyFolder" Name="My Company">
        <Directory Id="INSTALLLOCATION" Name="My Product"></Directory>
      </Directory>
    </StandardDirectory>
  </Package>
  <Fragment Id="Product">
    <ComponentGroup Id="Product"></ComponentGroup>
  </Fragment>
</Wix>